@{
    ViewData["Title"] = "Породи Котки";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">

    <h2>
        <i>
            Персийска котка
        </i>
    </h2>

    <img id="myImg" src="~/img/catImage.jpg" alt="Персийска котка" style="border-radius: 8px; width:600px;height:350px;">
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
        <script src="~/js/img.js"></script>
    </div>

    <p>
        <br>
        Персийската котка е порода дългокосмести<br>
        домашни котки произхождащи от Древна Персия,<br>
        дн. Иран. В Европа започват да се отглеждат от 16 – 17 в.<br>
        първоначално в Италия. Особен интерес предизвикват в Англия, където от 19 в.<br>
        се извършват най-сериозните селекции по отношение на тази порода.<br>
    </p>
    <!--*-->

    <h2>
        <i>
            Британска
        </i>
    </h2>

    <img id="myImg" src="~/img/britishCat.jpg" alt="Домашни любимци" style="border-radius: 8px; width:400px;height:250px;">

    <p>
        <br>
        Британската късокосместа котка е порода домашна котка<br>
        произхождаща от Великобритания. Мъжките екземпляри тежат<br>
        от 5 – 10 кг, а женските 5 – 7 кг. Има къса гъста козина и<br>
        също така гъст подкосъм. Характерна е с кръглата си глава и<br>
        големите си кръгли очи. Тялото ѝ е с „квадратна“ форма. Очите<br>
        са големи и закръглени. Ушите са с леко заострени връхчета и<br>
        отдалечени. Нейните черти я правят популярна порода за участие<br>
        в котешки шоута.<br>
    </p>
    <!--*-->

    <h2>
        <i>
            Сиамската котка
        </i>
    </h2>

    <img id="myImg" src="~/img/SiameseCat.jpg" alt="Домашни любимци" style="border-radius: 8px; width:400px;height:250px;">

    <p>
        <br>
        Сиамската котка е порода домашна котка.<br>
        Тя е една от първите точно разпознати породи<br>
        ориенталски котки. Точният произход на породата<br>
        е неизвестен, но се смята, че произхожда от<br>
        югоизточна Азия, както и че е потомък на свещени<br>
        котки в храмовете в Сиам (днес Тайланд).<br>
    </p>
    <!--*-->

    <h2>
        <i>
            Рагдол
        </i>
    </h2>

    <img id="myImg" src="~/img/GatilRagbelasCat.jpg" alt="Домашни любимци" style="border-radius: 8px; width:400px;height:250px;">

    <p>
        <br>
        Рагдол е порода котка с цветно палто<br>
        и сини очи. Те са големи и мускулести полудългокосмести<br>
        котки с мека и копринена козина. Разработени от <br>
        американския селекционер Ан Бейкър през 60-те години<br>
        на миналия век, те са най-известни със своя послушен и<br>
        спокоен темперамент и привързан характер. <br>
    </p>

</div>
