@{
    ViewData["Title"] = "Породи кучета";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">

    <h2>
        <i>
            Померан
        </i>
    </h2>

    <img id="myImg" src="~/img/PomeranianDog.jpg" alt="Померан котка" style="border-radius: 8px; width:550px;height:450px;">
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
        <script src="~/js/img.js"></script>
    </div>

    <p>
        <br>
        Померанът (често известен като Пом) е порода кучета<br>
        от типа шпиц, която е кръстена за района на Померания<br>
        в Северозападна Полша и Североизточна Германия в<br>
        Централна Европа. Класифициран като порода кучета-играчки<br>
        поради малките си размери, произходът на помераните е от по-големи<br>
        кучета тип шпиц, по-специално от немския шпиц.<br>
    </p>
    <!--*-->

    <h2>
        <i>
            Френска болонка
        </i>
    </h2>

    <img id="myImg" src="~/img/BichonFriseDog.jpg" alt="Домашни любимци" style="border-radius: 8px; width:400px;height:250px;">

    <p>
        <br>
        Френската болонка e дребна порода кучета от<br>
        семейството на болонките. Прието е да се смята,<br>
        че породата е френска, но в действителност тя е<br>
        създадена по време на Ренесанса в Италия през 14 в.<br>
        като кръстоска между малтийската болонка и други<br>
        декоративни малки породи, главно пудели.<br>
    </p>
    <!--*-->

    <h2>
        <i>
            Кавалер Кинг Чарлз шпаньол
        </i>
    </h2>

    <img id="myImg" src="~/img/Cavalier_King_Charles_Spaniel-femaleDog.jpg" alt="Домашни любимци" style="border-radius: 8px; width:400px;height:400px;">

    <p>
        <br>
        Кавалер Кинг Чарлз шпаньол е порода кучета,<br>
        отнасяща се към декоративния вид. Нейният<br>
        предшественик, кинг Чарлз шпаньолът е създаден<br>
        в Англия и е много популярен през Реставрацията,<br>
        а самата порода е селектирана през 20 век. <br>
    </p>
    <!--*-->

    <h2>
        <i>
            Ши цу
        </i>
    </h2>

    <img id="myImg" src="~/img/shihtDog.jpg" alt="Домашни любимци" style="border-radius: 8px; width:400px;height:250px;">

    <p>
        <br>
        Преведено от английски-Shih Tzu е порода<br>
        играчки за кучета, тежи от 4 до 7,25 килограма<br>
        при пълно отглеждане. Породата е разработена<br>
        в Тибет.<br>
    </p>

</div>