@{
    ViewData["Title"] = "Домашни любимци";
}

    <div class="text-center">
        <h1 class="display-4">
            Кои животни са най-подходящите домашни любимци
        </h1>

        <img id="myImg" src="~/img/Home_animals.jpg" alt="Домашни любимци" style="border-radius: 8px; width:400px;height:400px;">
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
            <script src="~/js/img.js"></script>
        </div>

        <p>
            <br>
            Ако децата ви са готови за домашен любимец и ви се молят да им купите от дълго<br> време,
            тогава може би е време да им вземете.
            Но кой точно домашен любимец е най-<br>подходящ за семейтвото ви?
            Тук можете да намерите решение на тази загадка...
        </p>

        <h2>
            <i>
                Куче
            </i>
        </h2>

        <img id="myImg" src="~/img/dog.jpg" alt="Домашни любимци" style="border-radius: 8px; width:400px;height:250px;">

        <p>
            <br>
            Колко много книги са написани за децата и техните кучета? Има си причина за това...
            <br><br>
            кучетата са идеалните домашни любимци за децата. Те са лоялни и приятелски<br>
            настроени, но се нуждаят от много грижи. Преди да доведете куче у дома, трябва да<br>
            проучите и да изберете такова, което ще е добро с децата ви.<br>
        </p>
        <!--*-->

        <h2>
            <i>
                Рибки
            </i>
        </h2>

        <img id="myImg" src="~/img/fish.jpg" alt="Домашни любимци" style="border-radius: 8px; width:400px;height:250px;">

        <p>
            <br>
            Те са цветни, красиви и интересни за наблюдаване.<br>
            Рибките могат да са чудесен домашен любимец за децата ви!<br>
            Оставете мъниците ви да си изберат видове рибки и им купете хубав аквариум.<br>
            Може би ще е нужно да поддържате и да чистите аквариума от време на време,<br>
            но оставете ежедневното хранете на рибките за децата ви.<br>
        </p>
        <!--*-->

        <h2>
            <i>
                Папагалчета
            </i>
        </h2>

        <img id="myImg" src="~/img/parrot.jpg" alt="Домашни любимци" style="border-radius: 8px; width:400px;height:250px;">

        <p>
            <br>
            Децата, които обичат музиката, ще се насладят<br>
            и на едно папагалче за домашен любимец. Птичките са чудесни<br>
            домашни любимци за семейства, които нямат много пространство,<br>
            а освен това са и много лесни за отглеждане. Те са толкова<br>
            цветни и чаровни същества, че семейството ви<br>
            със сигурност ще заобича това, което сте избрали.<br>
        </p>
        <!--*-->

        <h2>
            <i>
                Котки
            </i>
        </h2>

        <img id="myImg" src="~/img/cat.jpg" alt="Домашни любимци" style="border-radius: 8px; width:400px;height:250px;">

        <p>
            <br>
            Котките са чудесен домашен любимец за децата ви,<br>
            защото са чисти и пухкави. Но някои деца<br>
            са по-отдръпнати и котките няма да се наслаждават на многото внимание,<br>
            каквото ще имат от активни и шумни деца. Уверете се, че котката харесва<br> децата ви и че в бъдеще ще
            има кой да се грижи за храната и за тоалетната й.<br>
        </p>

    </div>
   